/* CalendarStyles.css */
.custom-calendar {
    width: 800px;
    height: 600px;
    color: #000;
}

.react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    height: 100px;
}

.react-calendar__tile--active {
    background: #006edc;
    color: white;
}/* CalendarStyles.css */
.calendar-page-container {
    background: url('/background1.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.calendar-wrapper {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}