/* CalendarStyles.css */
.custom-calendar {
    width: 800px;
    height: 600px;
    color: #000;
}

.react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    height: 100px;
}

.react-calendar__tile--active {
    background: #006edc;
    color: white;
}