@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex-grow: 1;
}

footer {
    position: relative;
    z-index: 10;
}

.bg-page {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: slideBackground 20s infinite;
}

@keyframes slideBackground {
    0% {
        background-image: url("/background1.jpg");
    }
    33% {
        background-image: url("/background2.jpg");
    }
    66% {
        background-image: url("/background3.jpg");
    }
    100% {
        background-image: url("/background1.jpg");
    }
}
.full-width-div {
    width: 100%;
margin: 0;
padding: 0;
}

.text-logo {
    font-size: 2rem;
    font-weight: bold;
    color: yellow;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Black corners */
}
.icon-shadow {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Black corners */
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}


/* Styles for calendar */
.custom-calendar {
    width: 100%;
    color: #000; /* Ensure text color is visible */
}

.react-calendar__tile {
    padding: 10px;
    text-align: center;
}

.react-calendar__tile--active {
    background: #006edc;
    color: white;
}