@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-page {
    background-image: url("/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.full-width-div {
    width: 100%;
margin: 0;
padding: 0;
}

.text-logo {
    font-size: 2rem;
    font-weight: bold;
    color: yellow;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Black corners */
}
.icon-shadow {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Black corners */
}

